
@{
    ViewBag.Title = "create";
}

<style>
    form{
        display :flex;
        flex-direction:column;
    }
</style>
<form>
        <label class="col-md-2">Name</label>
    <div>
        <input type="text" name="name" class="form-control" />
    </div>
    <label class="col-md-2">Address</label>
    <div>
        <input type="text" name="address" class="form-control" />
    </div>
    <label class="col-md-2">Contact</label>
    <div>
        <input type="text" name="contact" class="form-control" />
    </div>
    <div>
        <input type="submit" class="btn btn-success" value="Save" />
        <input type="submit" class="btn btn-danger" value="Save" />
    </div>
</form>

