
    .topnav {
        width: 100%;
        display: flex;
        padding: 10px 14px;
        background-color: rgba(7, 7, 7, 0.13);
        background: rgb(62,58,128);
        background: linear-gradient(90deg, rgba(62,58,128,1) 3%, rgba(12,84,22,1) 44%, rgba(6,121,144,1) 100%);        
        /* justify-content: space-between; */

}
.topnav a:hover {
background-color: #ddd;
color: black;
}
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 10px 14px;
text-decoration: navajowhite;
font-size: 20px;
}
.topnav a:hover {
background-color: rgb(255, 255, 255);
color: black;
}
.topnav a.active {
    background: rgb(62,58,128);
    background: linear-gradient(90deg, rgba(62,58,128,1) 3%, rgba(12,84,22,1) 44%, rgba(6,121,144,1) 100%);   
    color: white;
    text-transform: uppercase;
}
.Logo {
    width: 45px; 
    height: 45px; 
}
body {
    background: rgb(0,29,36);
    /* background: linear-gradient(90deg, rgba(0,29,36,0.7903536414565826) 3%, rgba(85,121,9,0.7091211484593838) 45%, rgba(0,212,255,1) 100%); */
    /* background-image: url("https://images.unsplash.com/photo-1541681799731-44dfb98b5a80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2slMjBtb3VudGFpbnN8ZW58MHx8MHx8&w=1000&q=80"); */
    text-align: center;
}


 h1{
    text-align: center;
    color: rgb(34,193,195);
    color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    /* background: rgb(62,58,128);
    background: linear-gradient(90deg, rgba(62,58,128,1) 3%, rgba(12,84,22,1) 44%, rgba(6,121,144,1) 100%);        
    padding: 0.5cm; */
} 
p{
    color:aqua;
    text-align: center;
    background: rgb(62,58,128);
    background: linear-gradient(90deg, rgba(62,58,128,1) 3%, rgba(12,84,22,1) 44%, rgba(6,121,144,1) 100%);        
    padding: 1cm;
}

form{
    text-align: center;
    color: rgb(34,193,195);
    color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

}

h2{
    text-align: center;
    color: rgb(34,193,195);
    color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.container{
    border-radius: 5px;
    background-color: #ddd;
    padding: 20px;
}

/* img{
    width: 30cm;
   margin:0 auto;
} */

  